# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Vite
*.local

# Cobertura de testes
coverage/

# OS
.DS_Store
Thumbs.db
